.elm-overlay {
  z-index: 999;
}

.mdl-snackbar {
  z-index: 50 !important;
}

.elm-mini-controls {
  top: 0;
  right: 20%!important;
  bottom: auto!important;
}

.progress-bar-with-title {
  display: flex;
  flex-grow: 0.8;
  align-items: center;
  padding-top: 1.4em;
  justify-content: center;
  flex-direction: column;
}

.mainview {
  display: grid;
  margin: none;
  grid-template-columns: 40em auto;
  grid-template-rows: auto 10vh;
  grid-template-areas:
    "booklist         bookinfo"
    "playbackcontrols playbackcontrols";
}

@media screen and (max-width: 1024px) {
  .mainview ul {
      height: calc(100vh - 56px - 10vh) !important;
  }
}

.mainview ul {
  overflow-y: scroll;
  margin: 0;
  padding: 0;
  height: calc(100vh - 64px - 10vh);
  grid-area: booklist;
}

@media screen and (max-width: 1024px) {
  .bookinfo {
      height: calc(100vh - 56px - 10vh) !important;
  }
}

.bookinfo {
  grid-area: bookinfo;
  overflow-y: scroll;
  height: calc(100vh - 64px - 10vh);
  display: grid;
  padding: 0em 2em 0em 2em;
  grid-template-columns: 50% auto;
  grid-template-rows: 6em 17em auto;
  grid-template-areas:
    "heading        heading"
    "img            detail"
    "chapterlist    chapterlist";
}

.playback-control-list {
  grid-area: playbackcontrols;
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-self: flex-start;
  align-items: center;
}

.info-detail {
  grid-area: detail;
}

.bookinfo h3 {
  grid-area: heading;
}

.bookinfo img {
  grid-area: img;
  padding: 0, 1em, 1em, 1em;
  width: 15em;
  height: 15em;
}

.chapterlist {
  grid-area: chapterlist;
  width: 100% !important;
  margin-bottom: 2em;
}

.chapterlist th {
  text-align: left !important;
}

.chapterlist td {
  text-align: left !important;
}


.playback-control-list .progress {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 100%;
}

.playback-control-list .buttons {
  flex: 0 0 auto;
}

.playback-control-list .buttons .mdl-button {
  margin-left: 0.5em;
  margin-right: 0.5em;
}

.playback-control-list .volume {
  min-width: 100px;
  flex: 0.1 0 130px;
}

.control-box {
  bottom: 0;
  align-items: stretch;
  grid-area: playbackcontrols;
  z-index: 10;
  position: fixed;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: white;
}

.login-form-container {
  margin: auto;
  display: grid;
  grid-template-columns: auto fit-content(25%) auto;
  grid-template-rows: 100%;
}

.login-form-container .mdl-button {
  justify-self: end;
  grid-column-start: 2;
  grid-column-end: 3;
}

.login-form-container .login-field {
  margin: 20px !important;
  justify-self: center !important;
  margin: 0 auto;
  grid-column-start: 2;
  grid-column-end: 3;
}

.spoiler {
  text-shadow: 0 0 15px #C7C7C7, 0 0 15px #A5A5A5, 0 0 15px #C9C9C9;
  transition: .3s all;
  color: transparent;
}

.spoiler:hover {
  color: black;
  text-shadow: none;
}
